/* Global Minimal css reset
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html,
body {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


* {
  box-sizing: border-box;
}

/* Sections
   ========================================================================== */


/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0 0 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  color: #fff;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}



/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
}

option {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/* Change form fields autofill background*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* ========================================================================== 
  Base Element styles
  ========================================================================== */

body {
  font-family: 'playfair Display',
    'Domine',
    sans-serif,
    Arial;
  font-weight: normal;
  color: #142532;
  font-size: 100%;
  font-style: normal;
  background-color: #fff;
  line-height: 1.4;
}

/* ========================================================================== 
  Navigation Element styles
  ========================================================================== */

.header {
  background-color: #363b3f;
  color: #fff;
  border-bottom: 1px solid rgba(241, 78, 131, 1);
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* fix navbar position fixed bug*/
.padding-top-fix {
  padding-top: 65px;
}

.header__logo {
  text-decoration: none;
  font-weight: normal;
  flex: 1;
  transition: 0.4s;
}

.header__logo--title {
  margin: 0;
  font-weight: normal;
  font-size: 2em;
}

.header__content,
.nav,
.nav__item {
  display: flex;
}

.header__content {
  justify-content: space-between;
}

/* Hide menu icon on desktop view */
.menu {
  display: none;
}

.menu:hover {
  color: rgba(241, 78, 131, .9);
}

/* Navbar styles */

.nav {
  flex: 4;
}

.nav__item {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
}

.nav__list {
  margin: 0.7em 1em;
}

.nav__link {
  font-family: 'Cormorant', serif;
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
  font-size: 1em;
  font-weight: normal;
  text-transform: capitalize;
  position: relative;
}

.nav__link:hover,
.header__logo:hover {
  color: rgba(241, 78, 131, .9);
}

.nav__link:active {
  top: 2px;
}

.btn {
  border: 0;
  color: #fff;
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  border-radius: 3px;
  line-height: 30px;
  position: relative;
}

.btn:hover {
  cursor: pointer;
}

.btn__primary--color,
.btn__success--color {
  transition: 0.4s;
}

.btn__primary--color {
  background-color: #fb406f;
}

.btn__success--color {
  background: rgba(2, 248, 33, .5);
}

.btn__primary--color--outline {
  background-color: #f4f4f4;
  border: #fb406f;
  color: #fb406f;
}

.btn__success--color:hover {
  color: rgba(2, 248, 33, 1);
  background: #363b3f;
}

.btn__primary--color:hover {
  color: rgba(255, 255, 255, .8);
  background-color: rgba(241, 78, 131, .8);
}

.btn__primary--color--outline:hover {
  color: rgba(255, 255, 255, .8);
  background-color: rgba(241, 78, 131, .8);
}

.btn__success--color:active {
  top: 2px;
}

/* ========================================================================== 
  Banner styles
  ========================================================================== */

.hero {
  background: linear-gradient(rgba(0, 0, 0, .4), transparent 100%),
    #142532 url('../img/banner.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 65px 0 5.5em;
  box-sizing: border-box;
}

.hero__title {
  font-family: 'Cormorant',
    serif;
  font-size: 2.625rem;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
  margin: 12px 0 0;
}

.hero-body {
  background: rgba(255, 255, 255, .9);
  color: #0f1721;
  padding: 1em;
  border-radius: 3px;
  font-size: 0.9em;
  line-break: 18px;
  font-weight: bold;
  width: 60%;
  margin: auto;
  text-align: left;
}

.upcoming-cta {
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  position: relative;
  font-size: 1.2em;
  margin-top: .5em;
  border: 1px solid rgba(241, 78, 131, .8);
  font-weight: bold;
}

.upcoming-cta:active {
  top: 2px;
}

/** Featured styles
   ========================================================================== */

.featured {
  background: #F2EFF3;
  color: #142532;
  padding-top: 1em;
  border-bottom: 1px solid rgba(46, 62, 72, .12);
}

.featured__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.featured__title {
  margin: 0;
}

.nav__link--featured {
  color: #142532;
  font-size: 1.1em;
}

.nav__list--featured {
  background: rgba(41, 77, 107, .12);
  color: #2e3e48;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.ask {
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  position: relative;
  font-size: 1.2em;
}

.ask:active {
  top: 2px;
}

/* ========================================================================== 
  Question summary styles: user dashboard
  ========================================================================== */



/*=========================================================================
  Question feed section styles (Home page)
  ========================================================================*/
.question-feeds__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
}

.question-feeds {
  padding-top: 2em;
}

.question-meetup-topic {
  margin-top: 0;
  color: #fb406f;
}

.question-meetup-topic-title {
  color: #9199a1;
  font-size: .8em;
}

.single__question {
  border-bottom: 0.5px solid #9199a1;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-bottom: 0.5em;
  border-radius: 5px;
}

.user-comment {
  font-style: italic;
  border-left: 2px solid #0f1721;
  padding: 0 0 0 1em;
  color: #555;
  font-size: .9em;
  margin-top: 10px;
  margin-left: 50px;
  font-weight: bold;
}

.question__header,
.question__body {
  display: flex;
  justify-content: space-between;
}

.question__header {
  justify-content: flex-start;
}

.question__body {
  flex-direction: column;
}

.msg_input {
  height: auto;
  border: 0.5px solid #9199a1;
  border-radius: 10px;
  padding: 10px 2px 0 8px;
  outline: none;
}

.msg_input:focus {
  border: 1px solid #0f1721;
}

.posted_by {
  align-self: flex-end;
  margin: 0;
  margin-top: -10px;
  font-weight: bold;
  font-size: 12px;
  color: #9199a1;
}

.media__img {
  font-size: 70px;
}

.single__question__topic {
  margin-bottom: 0;
  padding-left: 1em;
}

.comment-btn,
.view-comment-btn {
  vertical-align: top;
  height: 40px;
  margin-top: 5px;
  line-height: 40px;
}

.votes__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.vote-up,
.vote-down {
  color: #0f1721;
  font-size: 2.5em;
  position: relative;
}

.vote-up:hover,
.vote-down:hover {
  color: #9199a1;
}

.vote-count {
  line-height: 18px;
  font-weight: bold;
  font-size: 1.5em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-size: 0.5em;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -51px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*=========================================================================
  Upcoming: section styles
  ========================================================================*/
.upcoming__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 auto 50px;
  flex-wrap: wrap;
  max-width: 1200px;
}

.upcoming__content__title {
  font-size: 1.8em;
  text-align: center;
  margin-top: 40px;
}

.upcoming__meetup__container {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  flex: 0 0 300px;
}

.upcoming__meetup {
  display: flex;
  background-color: #fff;
  min-height: 420px;
  flex-direction: column;
  max-width: 350px;
  position: relative;
  z-index: 1;
  transition: transform 420ms cubic-bezier(.165, .84, .44, 1);
  text-decoration: none;
}

.upcoming__media {
  height: 13rem;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.upcoming__img {
  bottom: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.upcoming__header {
  flex: 1 1 auto;
  color: #142532;
  padding: 0.5rem .75rem;
}

.upcoming__meetup__topic {
  max-height: 349px;
  line-height: 30px;
  margin-top: 5px;
  color: #dc3545;
}

.upcoming__body {
  display: flex;
  flex: 0 1 auto;
}

.upcoming__category {
  font-size: 1em;
  font-weight: bold;
  margin-top: 5px;
  color: #dc3545;
}

.upcoming__meetup__topic-content {
  font-size: .9em;
  color: #142532;
  text-transform: capitalize;
}

.accept__btn {
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  font-size: 1.2em;
  color: #FFF;
  border: 0;
  background: #fb406f;
  text-transform: capitalize;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: .75rem;
  padding-right: .75rem;
  height: 2rem;
  white-space: nowrap;
  position: relative;
}

.br {
  border: 1px solid #e4e6e8;
  border-radius: 5px;
}

.br:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  transform: scale(1.05);
}

.box-shadow {
  box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
}

/* ========================================================================== 
  Footer styles
  ========================================================================== */

.footer {
  padding: 1em;
  background-color: #0f1721;
  color: #fff;
}

.footer__item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-heart-container .fas {
  color: rgba(255, 0, 1, .9);
}


/* ========================================================================== 
  ===========================================================================
  Page specific styles: 'Sign-up page, sign-in'
  ===========================================================================
  ========================================================================== */

/* ========================================================================== 
  General form style
  ========================================================================== */

.form__container,
.form,
.form__input__group {
  display: flex;
}

.form__headline {
  text-align: center;
}

.form {
  flex-direction: column;
  width: 350px;
  box-sizing: border-box;
  padding: 20px 30px;
  border: 1px solid #e4e6e8;
  background: #FFF;
  margin: 0 auto 1.5em;
  border-radius: 5px;
}

.form__input__group {
  flex-direction: column;
  margin-bottom: 0.6em;
}

.form__label {
  margin-bottom: 0.3em;
  font-weight: bold;
}

.form__input {
  font-size: 90%;
  padding: 8px;
  height: 35px;
  border: 1px solid #e4e6e8;
  border-radius: 2px;
  cursor: auto;
  outline: none;
  transition: all 0.4s;
  font-weight: bold;
}

.form__textarea {
  border: 1px solid #e4e6e8;
  border-radius: 2px;
  outline: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 80%;
}

.form__input-select {
  padding: 0 5px;
  font-weight: bold;
}

.form__input:focus,
.form__textarea:focus {
  border: 1px solid #fb406f;
}

.form__input:hover,
.form__textarea:hover {
  border: 1px solid #fb406f;
}

::-webkit-input-placeholder {
  font-size: 14px;
}

::-ms-input-placeholder {
  font-size: 14px;
}

:-ms-input-placeholder {
  font-size: 14px;
}


::placeholder {
  font-size: 14px;
}

.btn__primary--color--submit {
  outline: 0;
  position: relative;
}

.btn__primary--color--submit:active {
  top: 2px;
}

.required {
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.forgot__password {
  font-size: 12px;
  color: #fb406f;
  text-decoration: none;
  font-weight: normal;
  font-style: italic;
  align-self: flex-end;
  margin: 5px;
  transition: all 0.4s;
}

.forgot__password:hover {
  color: #0f1721;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.forgot__password:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.new-user-signup {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.sign-up-link {
  color: #fb406f;
  font-weight: bold;
  text-decoration: none;
}

.sign-up-link:hover {
  color: #0f1721;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

/**
  * This fix min-height bug for
  * less content for sticker footer
  */
.small__container__fix {
  min-height: calc(100vh - 55px);
}

/* ========================================================================== 
  ===========================================================================
  Page specific styles: 'dashboard'
  ===========================================================================
  ========================================================================== */

/* ========================================================================== 
  Navigation style
  ========================================================================== */
.header__logo__dashboard--back {
  padding: 0.6em 0 0 0.6em;
}


/* ========================================================================== 
  Dashboard content style
  ========================================================================== */

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
}

.padding-top-fix-dashboard {
  padding-top: 53px;
}

.dashboard-content__main__content {
  flex: 5;
  padding: 1em;
  overflow: auto;
  min-height: 100vh;
}

.dashboard-content__sidebar {
  background: #0f1721;
  padding-top: 0.5em;
  min-height: 100vh;
}

.sidebar__item {
  margin: 0;
  padding: 0;
  padding-top: 0.8em;
  list-style: none;
}

.sidebar__item__list {
  font-size: 13px;
  margin: 0;
  margin-bottom: 1em;
  color: #e4e6e8;
  font-style: normal;
  border-bottom: 0.8px solid #9199a1;
  height: 50px;
  padding-right: 5px;
}

.sidebar__item__list__heading {
  margin: 0;
  font-weight: normal;
  font-family: 'Display',
    Arial,
    sans-serif;
  display: inline-block;
  width: 205px;
}

.sidebar__item__list__heading,
.sidebar__item__list__value {
  padding: 0 1em;
  box-sizing: border-box;
}

.sidebar__item__list__value {
  border-radius: 3px;
  border: 0.5px solid#FF8926;
  padding: 8px;
}

/* 
 * Admin dashboard  
 * make changes to meet up button color
 */

.meetup-action-container {
  padding: 1em 0;
}

.btn-block {
  display: block;
  margin: 10px auto;
}

/* ---------Table styles ----*/
/* 
Generic Styling, for Desktops/Laptops 
*/
table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  font-weight: bold;
  font-size: 0.9em;
}

tr:hover {
  background: #f4f4f4;
}

/* Zebra striping */
tr:nth-of-type(even) {
  background: #eee;
}

td,
th {
  padding: 10px;
  border: 1px solid #0f1721;
  text-align: left;
  text-transform: capitalize;
}

th {
  background: #0f1721e8;
  color: white;
  font-weight: bold;
  padding: .8em;
}

/* table content styles */
.all-meetup-record-table,
.scheduled-upcoming-meetup-table {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.card-header,
.card-footer {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  font-weight: bold;
}

.card-header {
  margin: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.card-footer {
  color: #6c757d;
  border-top: 1px solid rgba(0, 0, 0, .125);
  border-bottom: 0;
  font-size: 70%;
  font-weight: bold;
}

.card-body {
  padding: 1.25rem;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.pagination-info {
  font-weight: bold;
  margin: 0;
  color: #0f1721;
}

.pagination-link {
  padding: 8px 16px;
  margin-right: -4px;
  text-decoration: none;
  font-weight: bold;
  color: #0f1721;
  transition: 0.3s;
  border: 0.6px solid #0f1721;
}

.pagination-link:hover,
.active {
  background: #0f1721;
  color: white;
  border: 0.6px solid #0f1721;
}

.table-action-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.edit-btn {
  text-align: center;
  padding: 0;
  min-width: 50px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  background: rgb(248, 181, 0);
}

.delete-btn {
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  background-color: #dc3545;
}

.edit-btn .table-action-link:hover {
  color: rgb(248, 181, 0);
}

.delete-btn .table-action-link:hover {
  color: #dc3545;
}

/*  Modal styles
   -------------------------------------------------------------------
  */

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  margin-top: 100px;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: rgba(255, 0, 1, .7);

  text-decoration: none;
  cursor: pointer;
}

/* Delete meetup modal */
.delete-meetup-content-container {
  display: flex;
  justify-content: center;
}

.delete-modal-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .3rem;
  outline: 0;
  color: #0f1721;
  font-weight: bold;
  padding: 1em 0;
}

.modal-header {
  display: flex;
  justify-content: center;
  padding: 0 1em;
  border-bottom: 1px solid #e9ecef;

}

.close-align-end {
  margin: -10px 0 0 20px;
}

.modal-title {
  margin: 0;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0.5em 0 1em;
}

.confirm-delete-btn {
  margin-left: 0.5em;
  background-color: #dc3545;
  border-color: #dc3545;
  width: 70px;
}

.confirm-delete-btn:hover {
  background-color: #f0031bf6;
  border-color: #f0031bf6;
}

.confirm-cancel-btn {
  background: #6c757d;
}

.confirm-cancel-btn:hover {
  background: #5c6063;
  border-color: #5c6063;
}

.confirm-btn {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
}

/* Upcoming meetup details */
.meetup-single {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.meetup-img-1 {
  max-height: 400px;
  max-width: 40em;
}

.meetup-d-heading {
  font-size: 1.2em;
  font-weight: bold;
}


.meetup-action {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meetup-feedback {
  margin: 8px 0;
  color: #fb406f;
}

.speaker-list {
  font-weight: 550;
}

.meetup-action-list {
  display: inline-block;
  margin: 0.2em;
}

.meetup-single-img {
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.meetup-action-button {
  position: relative;
  height: 2em;
  width: 5em;
  margin: 0;
  border: 0.5px solid #9199a1;
  border-radius: 3px;
  font-weight: bold;
  background: #f4f4f4;
  transition: 0.4s;
  outline: none;
}

.meetup-action-button:hover {
  background: #fb406f;
  color: #fff;
  cursor: pointer;
  border-color: rgba(241, 78, 131, .8);
}

/* rsvps buttons disable state */
.disabled:hover {
  background: #f4f4f4;
  color: #9199a1;
  border-color: #9199a1;
}

.meetup-action-button:active {
  top: 2px;
}


/* ========================================================================== 
  Mobile styles
  ========================================================================== */

@media all and (max-width: 640px) {

  .container {
    width: 100%;
    padding: 0 1em;
  }

  /* nav-styles */
  .header {
    padding-bottom: 1em;
  }

  .header__content {
    max-width: 640px;
    flex-wrap: wrap;
  }

  .header__logo {
    flex-basis: 70%;
  }

  .nav,
  .nav__item {
    flex-direction: column;
    margin: 0;
  }

  .nav {
    display: none;
    align-self: flex-start;
    flex-basis: 100%;
  }

  .menu-icon-container {
    margin: 0;
  }

  .menu {
    margin-top: 3px;
    margin-right: .5em;
    font-size: 1.8em;
    display: block;
  }

  .js-menu {
    display: block;
  }

  /* Hero styles */

  .hero-body {
    width: 80%;
  }

  /* banner */

  .hero {
    padding: 100px 0 4em;
  }

  .featured__questions {
    order: 2;
  }

  .ask {
    order: 1;
    margin-bottom: 0.5em;
  }

  /* Home page questions */
  .ask,
  .featured__questions {
    align-self: flex-start;
  }

  /* Upcoming meetups */
  .upcoming__content {
    display: block;
    margin: auto;
  }

  .upcoming__meetup {
    margin: 0;
  }

  .upcoming__content__title {
    font-size: 1em;
    margin: 1em;
    text-align: center;
  }

  /* Dashboard styles */
  .dashboard-content {
    display: block;
  }

  .padding-top-fix-dashboard {
    padding-top: 48.53px;
  }

  .dashboard-content__sidebar {
    min-height: 30vh;
  }

  .sidebar__item__list__heading {
    padding-left: 5px;
    padding-right: 0;
    font-size: 14px;
    width: 250px;
  }

  /* 
   * Admin dashboard  
   * Reduce width for mobile devices 
   */

  .form-s-w {
    width: 300px;
  }

  .meetup-img-1 {
    max-width: 20em;
  }

  /* table modal */
  .delete-modal-content {
    width: 100%;
  }

  .modal-header {
    padding: 6px;
  }
}


/* Tablet styles */
@media all and (min-width: 641px) and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .featured__questions {
    order: 2;
  }

  .ask {
    order: 1;
    margin-bottom: 0.5em;
  }

  /* question summary */
  .question__vote__count,
  .question__info__summary {
    justify-content: center;
  }

  /* upcoming */
  .upcoming__content {
    display: block;
    margin: auto;
  }

  .upcoming__content__title {
    font-size: 1.5em;
  }

  .upcoming__meetup {
    margin: 0;
  }

}


/* large screens */
@media all and (min-width: 749px) and (max-width: 1240px) {
  .featured__questions {
    flex: 4;
  }

  .upcoming__meetup__container {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 749px) {
  .single__question__info {
    width: 300px;
  }

  .single__question {
    justify-content: space-around;
  }

  .msg_input {
    width: 300px;
  }

  /* Dashboard styles */
  .modal-content {
    margin-top: 20%;
  }
}

@media all and (max-width: 423px) {
  .single__question__info {
    width: 250px;
  }

  .single__question__topic {
    padding-left: 5px;
  }

  .media__img {
    font-size: 50px;
  }

  .posted_by {
    margin-top: 10px;
  }

  .msg_input {
    margin-top: 10px;
    width: 250px;
  }

  /* upcoming details */
  .meetup-img-1 {
    max-width: 18em;
  }

  /* footer style */
  .footer__item {
    display: block;
    text-align: center;
  }

  .footer__list {
    margin-bottom: .6em;
  }

}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore and stack each row*/
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  tr {
    border: 1px solid #0f1721;
    border-bottom: 0;
    margin-bottom: 40px;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
  }

  td:last-child {
    border-bottom: 1px solid #0f1721;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    color: #dc3545;
    display: inline-block;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Meetup Topic";
  }

  td:nth-of-type(2):before {
    content: "Location";
  }

  td:nth-of-type(3):before {
    content: "Date";
  }

  td:nth-of-type(4):before {
    content: "Tags";
  }

  td:nth-of-type(4) {
    padding-bottom: 20px;
  }

  .edit-btn,
  .delete-btn {
    text-align: center;
    padding: 8px 0;
  }

  /* table style */
  .pagination-container {
    flex-direction: column;
    align-items: center;
  }

  .pagination-info {
    margin-bottom: 2em;
  }

  /* table modal */
  .delete-modal-content {
    width: 300px;
  }
}

/* feedback section */
.feedback-message,
.feedback-message-delete {
  font-weight: bold;
  font-size: 0.8em;
  margin: 20px auto;
  border-radius: 3px;
  max-width: 350px;
  box-sizing: border-box;
  padding: 10px 20px;
  display: none;
  overflow: auto;
}

.error {
  color: #dc3545;
  margin-top: .25rem;
  font-weight: 600;
  font-size: 80%;
}

.feedback-message-error {
  color: #dc3545;
  border: .9px solid #dc3545;
  display: block;
}

.feedback-message-success {
  color: green;
  border: .9px solid green;
  display: block;
}

.feedback-list-item {
  margin: 0.5em;
}

/* Loading overlay */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

/* spinner */
.spinner-icon path {
  stroke-width: 2px;
  stroke-dasharray: 36.299235026041664, 72.59847005208333;
  -webkit-animation: wistia_dash 1s infinite linear forwards;
}

.spinner-icon-container {
  height: 80px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
}

@-webkit-keyframes wistia_dash {
  from {
    stroke-dashoffset: 108.897705078125;
  }

  to {
    stroke-dashoffset: 0;
  }
}